@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-enter {
  animation: enter .15s ease-in-out both;
}

.animate-leave {
  animation: leave .15s ease-in-out both;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes leave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}